*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    scroll-behavior: smooth;
}

.navbar .logo{
    width: 50px;
    cursor: pointer;
}

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin-bottom: 25px;
}

.navbar{
    width: 100%;
    height: 35px;
    display: flex;
    margin: auto;
    padding: 12.5px 0;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: white;  
}

.navBarText a{
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}

.navBarText a:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

.navbar img{
    width: 40px;
    background-color: white;
    border-radius: 12.5px;
}

#textLogo a{
    font-size: 25px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}

.section{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

#portfolio-title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
}

.gif-container{
    display: flex;
    justify-content: center;
}

.intro-gif{
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: fit-content;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.intro-gif img{
    border-radius: 50px;
}

.project-details-container{
    display: flex;
    justify-content: space-evenly;
}

#content-small{
    padding-top: 10px;
    font-weight: 200;
    color: gray ;
    text-align: center;
}

#black-bar{
    margin-left: 100px;
    margin-right: 100px;    
    margin-top: 30px;
    margin-bottom: 30px;
    height: 15px;
    background-color: black;
}

#portfolio-details-body{
    border-radius: 15px;
    height: fit-content;
    padding-bottom: 30px;
    box-shadow: none;
}

.text-container{
    text-align: center;
}

#portfolio-explanation-text h1{
    margin-top: 20px;
    font-size: 35px;
}

#portfolio-explanation-text p{
    width: 1125px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}



/* Image grid stuff */
.image-section{
    display: flex;
    justify-content: center;

    width: fit-content;
    justify-self: center;
    

    width: 97.5%;
    margin: 20px;
    
}
.image-section img{
    justify-self: center;
    border-radius: 7.5px;
}

.image-container{
    display: grid;
    grid-gap: 7.5px;
    margin-bottom: 20px;
}

.small-cell{
    width: 580px;
    height: 262px;
    justify-self: center;
    grid-column: span 4;
}

.large-cell{
    width: 1171px;
    height: 532px;
    grid-column: span 8;
}
/* end image grid stuff */

.section-borderless-stack{
    display: block;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    border-radius: 50px;
    text-align: center;
}


.section-borderless{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    border-radius: 50px;
}

.section-title{
    display: flex;
    justify-content: center;
}

#project-files h3{
    padding-top: 10px;
}






